PyQt5
requests
PyQtWebEngine
markdown
pyqt5-tools
llama-cpp-python
transformers
bitsandbytes
langdetect
accelerate
llama-cpp-python[server]
langdetect
flash-attn
sounddevice
scipy
uvicorn
fastapi
python-multipart
protobuf
noisereduce
librosa
faster_whisper
pydub
dash
PyPDF2
python-docx
sentence-transformers 
faiss-cpu
fitz
pymupdf
TTS